h3 {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
}

h2 {
  font-family: "Rosarivo";
  font-size: 28px;
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}

/* 
#FFC551 //orange
#8930B3 //purple
#6BFFB8 // light green
*/
